<div class='album__item'>
    <figure>
        <img class='album__image card-img' src={{image}} alt='logo' />
    </figure>
    <div class='card-body'>
        <p class='fw-bold' style='color: var(--secondary-light);'>Cẩm nang thương hiệu</p>
        <h5 class='card-text text-uppercase mb-1 h4' style='color: var(--primary-light);'>{{title}}</h5>
        <small class='card-text text-uppercase font-weight-light mt-4'>{{subtitle}}</small>
    </div>
</div>