<header class='d-flex justify-content-between align-items-center'>
    <a href='#' style='height: 100%;'>
        <img src='assets/images/logo.png' alt='logo' />
    </a>
    <div class='d-flex'>
        {{#each list}}
            <ul class='header__ul'>
                <span class='header__span d-flex align-items-center'>
                    <h3 class='mr-3' style='margin-bottom: 0 !important;'>{{this.title}}</h3>
                    <i class='fa-solid fa-chevron-down'></i>
                </span>
                <ul class='header_ul_subNav mt-3'>
                    {{#each item}}
                        <li class='header__li'>
                            <a href={{this.href}}>{{this.title}}</a>
                        </li>
                    {{/each}}
                </ul>
            </ul>
        {{/each}}
    </div>
    <div>
        <button class='header__button' role='button'>Liên hệ</button>
    </div>
</header>