<header class='d-flex justify-content-around align-items-center'>
    <a href='#'>
        <img src='https://www.saokim.com.vn/storage/2022/01/saokim-logo.svg' alt='logo' />
    </a>
    <div class='header_ul_container'>
        {{#each list}}
            <ul class='header__ul'>
                <span class='header__span d-flex align-items-center'>
                    <h4 class='mr-3' style='margin-bottom: 0 !important;'>{{this.title}}</h4>
                    <i class='fa-solid fa-chevron-down'></i>
                </span>
                <ul class='header_ul_subNav mt-3'>
                    {{#each item}}
                        <li class='header__li'>
                            <a href={{this.href}}>{{this.title}}</a>
                        </li>
                    {{/each}}
                </ul>
            </ul>
        {{/each}}
    </div>
    <div>
        <button class='header__button' role='button'>Liên hệ</button>
    </div>
</header>