<div class='col-lg-2 col-4 text-center mb-2'>
    <a href='' class='album__btn d-block p-2'>
        <span href='#' class='py-2'>
            <img class='btn__icon' width={{size}} height={{size}} src={{icon}} />
            {{name}}
        </span>
    </a>
</div>