:root {
    --primary-light: #757ce8;
    --primary-dark: #002884;
    --primary-main: #002884;
    --primary-contrastText: #fff;
    --secondary-light: #ff7961;
    --secondary-main: #f44336;
    --secondary-dark: #ba000d;
    --secondary-contrastText: #000;
}

::selection {
    color: #fee715ff;
    background-color: #101820ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    cursor: pointer;
}

header {
    position: fixed;
    height: 150px;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: var(--primary-contrastText);
    padding: 0 72px;
}

header>a>img {
    height: 100%;
    cursor: pointer;
}

/* Header Section  */
.header_shadow {
    transition: all 0.8s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__button {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--primary-contrastText);
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #757ce8 0%, #3f50b5 51%, #757ce8 100%);
    cursor: pointer;
    touch-action: manipulation;
}

.header__button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.header__button:active {
    transform: scale(0.95);
}

.header_ul_container {
    display: flex;
}

.header__ul {
    height: 45px;
    width: 180px;
    color: var(--primary-main);
    cursor: pointer;
    margin: 0 !important;
}

.header__span h4 {
    text-shadow: 2px 3px 6px rgba(4, 15, 22, 0.47);
}

.header__li {
    list-style: none;
    line-height: 34px;
    background-color: transparent;
    padding: 8px 26px;
}

.header__li:hover {
    transition: all 0.8s;
    background-color: var(--primary-light);
}

.header_ul_subNav {
    position: relative;
    width: 16.5rem;
    padding: 0 !important;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    display: none;
}

.header_ul_subNav li a {
    color: #000;
}

.header__ul:hover {
    color: var(--primary-dark);
    transition: all 0.8s;
}

.header__ul:hover .header_ul_subNav {
    transition: all 0.5s;
    display: block;
    opacity: 0;
    animation: 0.3s linear 0.3s fadeIn forwards;
}

.header__ul:hover i {
    transition: all 0.8s;
    animation: 0.3s linear 0.2s rotate forwards;
}

/* End of Header Section  */

/* Footer Section  */
footer {
    padding: 1.2em 0;
    background: var(--primary-main);
    margin-right: -50px;
    margin-left: -50px;
}

footer section:first-child {
    gap: 20.5rem;
}

footer h3 {
    color: var(--primary-contrastText);
    font-weight: bold;
}

footer h4 {
    color: var(--primary-contrastText);
    font-weight: bold;
}

footer a {
    color: #b3bbc9;
    font-weight: 300;
    font-size: large;
}

footer a:hover {
    color: var(--primary-contrastText);
    transition: all 0.8s;
}

/* End of Footer Section  */
/* Start Service Section */
.list__container {
    text-align: left !important;
}

.list__item {
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 45%;
}

.list__text {
    color: #b3bbc9;
    font-size: 0.85rem;
}

.list__item:hover .list__text {
    color: #f09819;
}

.seemore {
    color: #f09819;
}

.seemore span svg {
    transform: translateX(5px);
}

.seemore:hover span svg {
    transform: translateX(15px);
}

/* Start album session */
.album__header {
    color: #002884;
    margin-top: 10rem;
}

.album__btn {
    border: none;
    border-radius: 0.75rem;
    background-color: #b3bbc9;
    color: #001b4b;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.album__btn:hover {
    background-color: #f09819;
    color: #001b4b;
}

.btn__icon {
    color: var(--primary-contrastText);
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    background-size: cover;
}

figure .album__image {
    border: none;
    border-radius: 0.75rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-size: cover;
}

figure:hover .album__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.album__image {
    background-size: cover;
}

@keyframes fadeIn {
    0% {
        transform: translate3d(-50px, 0, 0);
        opacity: 0.05;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(180deg);
    }
}