:root {
    --primary-light: #002884;
    --primary-dark: #002884;
    --primary-main: #002884;
    --primary-contrastText: #fff;

    --secondary-light: #ff7961;
    --secondary-main: #f44336;
    --secondary-dark: #ba000d;
    --secondary-contrastText: #000;

    --secondary-text: #2d2d2d;
}

::selection {
    color: #fee715ff;
    background-color: #101820ff;
}

::placeholder {
    color: var(--primary-contrastText) !important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li a {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

/* Start of Header Section  */
.navbar {
    background-color: #ffffff;
    font-weight: bold;
}

.navbar_shadow {
    transition: all 0.8s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social-part .fa {
    padding-right: 20px;
}

.dropdown-item {
    padding: 1.25rem 1.5rem;
}

.dropdown-item:hover {
    background-color: var(--primary-light);
    color: var(--primary-contrastText);
}
/* End of Header Section  */

/* Footer Section  */
footer a:hover {
    opacity: 0.5;
    transition: all 0.5s;
}
/* End of Footer Section  */

/* Start Service Section */
.list__container {
    text-align: left !important;
}
.list-group-item {
    padding: 12px 0px 12px 0px;
}

.list__item {
    border-bottom: 1px solid #2d2d2d;
    margin-right: 10px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 0px;
    width: 45%;
}

.list__text {
    color: var(--secondary-text);
    font-size: 0.85rem;
}

.list__item:hover .list__text {
    color: #f09819;
}

.seemore {
    color: #f09819;
}

.seemore span svg {
    transform: translateX(5px);
}

.seemore:hover span svg {
    transform: translateX(15px);
}

/* Customer reaction section */
.customer-reaction__header {
    color: #002884;
    margin-top: 10rem;
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: ghostwhite;
    border-radius: 25px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    right: 5px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.customer-avt {
    width: 100px;
    border-radius: 50px;
}

/* Start album session */
.heading-section {
    color: #002884;
    margin-top: 10rem;
    font-weight: bolder;
}

.album__btn {
    border: none;
    border-radius: 0.75rem;
    background-color: ghostwhite;
    color: #001b4b;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.album__btn:hover {
    background-color: #f09819;
    color: #001b4b;
}

.btn__icon {
    color: var(--primary-contrastText);
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    background-size: cover;
}

figure .album__image {
    border: none;
    border-radius: 0.75rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-size: cover;
}

figure:hover .album__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.album__image {
    background-size: cover;
}

/* Start project page */
.project-section {
    margin-top: 190px;
}
.image-box-img img {
    width: 100%;
    height: 574px;
    object-fit: cover;
    vertical-align: middle;
}
/* End project page */
