<footer class="text-center text-lg-start text-white mt-4" style="background-color: var(--primary-dark);">
    <!-- Grid container -->
    <div class="container py-3">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div
                    class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px; "
                >
                    <img src="/assets/images/logo.png" height="112" alt="logo" loading="lazy" />
                </div>

                <ul class="list-unstyled text-start fw-semibold">
                    <li>
                        <p>Thông tin doanh nghiệp</p>
                    </li>
                    <li>
                        <p>Công ty TNHH ĐT và TM NT Ecommerce</p>
                    </li>
                    <li>
                        <p>Giấy chứng nhận ĐKKD số 031647922 do Sở Kế Hoạch và Đầu Tư TP Hồ Chính cấp ngày: 18/02/2020</p>
                    </li>
                    <li>
                        <p>Địa chỉ: 203/19/49 Huỳnh Văn Nghệ, Phường 12, Quận Gò Vấp, TP Hồ Chí Minh</p>
                    </li>
                    <li>
                        <p>Vp tại: 183/31 Đường số 10, Phường 8, Quận Gò Vấp, TP Hồ Chí Minh</p>
                    </li>
                    <li>
                        <p>Tel: 086 777 0997 - 08 99 99 49 20</p>
                    </li>
                    <li>
                        <p>Email: info@ntecommerce.com - ntecommerce.vn@gmail.com</p>
                    </li>
                    <ul class="list-unstyled d-flex flex-row">
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fa-brands fa-square-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </ul>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-start lh-lg fw-semibold">
                <h3 class="text-uppercase fs-4 mb-4 fw-bold">Về chúng tôi</h3>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white">Giới thiệu chúng tôi</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Văn hóa chúng tôi</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Tuyển dụng</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Đội ngũ nhân sự</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Khách hàng của chúng tôi</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Bản tin</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Hồ sơ năng lực</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-start lh-lg fw-semibold">
                <h3 class="text-uppercase fs-4 mb-4 fw-bold">Dịch vụ cung cấp</h3>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white">Tư vấn thương hiệu</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Thiết kế thương hiệu</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Nhận diện thương hiệu</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Bao bì nhãn mác</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Thương hiệu mới</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white">Kế hoạch truyền thông</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-start lh-lg fw-semibold">
                <h3 class="text-uppercase fs-4 mb-4 fw-bold">Liên hệ</h3>
                <ul class="list-unstyled">
                    <li>
                        <p>Hoặc hay hơn, hãy ghé thăm chúng tôi trực tiếp!</p>
                    </li>
                    <li>
                        <p>Chúng tôi quý trọng khách hàng của mình, nên bạn hãy đến ghé thăm chúng tôi trong giờ làm
                            việc bình thường.</p>
                    </li>
                    <li>
                        <p>NTEcommerce</p>
                    </li>
                    <li>
                        <p>Địa chỉ: 183/31 Đường số 10, Phường 08, Q. Gò Vấp, Tp Hồ Chí Minh</p>
                    </li>
                    <li>
                        <p>Tel: 086 777 0997</p>
                    </li>
                    <li>
                        <p>Website: www.ntecommerce.com - www.ntecommerce.vn</p>
                    </li>
                    <li class="d-flex justify-content-center">
                        <img src="https://www.saokim.com.vn/storage/2022/01/logoSaleNoti.png" alt="" />
                        <img src="https://www.saokim.com.vn/storage/2022/01/dmca-badge-w250-2x1-04.png" alt="" />
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="#">Company.com</a>
        <button type="button" class="btn btn-dark to-top-btn" style="float: right;">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </div>
    <!-- Hotline -->
    <script type="text/javascript" src="https://web.cmbliss.com/webtools/hotline/js/hotline.js"></script>
    <script type="text/javascript">
        $("body").hotline({phone:"0986822596",p_bottom:true,bottom:0,p_left:true,left:0,bg_color:"#e60808",abg_color:"rgba(230,8, 8,0.7)",show_bar:true,position:"fixed", });
    </script>
</footer>