<div class="d-flex flex-column flex-lg-row">
    <h5 class="w-100">Đăng kí nhận nội dung mới nhất từ NT-Ecommerce</h5>
    <div class="p-4 col-12 col-lg-6" style="background-color: var(--primary-dark); border-radius: 0.7rem;">
        <div class="row">
            <div class="">
                <p class="text-white h5">Tên</p>
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control form__input"
                        style="background-color: var(--primary-light);
                    color: var(--primary-dark);"
                    />
                </div>
                <p class="text-white h5">Email</p>
                <div class="mb-3">
                    <input
                        type="email"
                        class="form-control form__input"
                        style="background-color: var(--primary-light);
                    color: var(--primary-dark);"
                    />
                </div>

                <div class="field">
                    <div class="field-submit mt-2">
                        <input type="submit" value="Đăng kí nhận thông tin" class="my-2 form__btn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>