<div class="album__item mb-4">
    <figure>
        <a href="{{this.image}}">
            <img class="album__image card-img" src={{this.image}} alt="logo" />
        </a>
    </figure>
    <div class="card-body">
        <h4 class="fw-medium text-uppercase my-2" style="color: var(--primary-dark);">{{this.title}}</h4>
        <p class="card-text text-uppercase my-2" style="color: var(--secondary-text);">{{this.subtitle}}</p>
    </div>
</div>