<html lang='vi' class='mdl-js'><head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <title></title>
        <link rel='pingback' href='http://zmedia.com.vn/xmlrpc.php' />
        <title>[title]</title>
        <meta name='keywords' content='[content]' />
        <meta name='description' content='[content]' />
        <title>zmedia – Một trang web mới sử dụng WordPress</title>
        <meta name='robots' content='noindex,follow' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <script type='text/javascript'>
            window._wpemojiSettings =
            {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/zmedia.com.vn\/wp-includes\/js\/wp-emoji-release.min.js"}};
            !function(a,b,c){function d(a,b){var
            c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var
            d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return
            d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px
            Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return
            b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var
            c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var
            g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
        </script><script
            src='http://zmedia.com.vn/wp-includes/js/wp-emoji-release.min.js'
            type='text/javascript'
            defer=''
        ></script>
        <style type='text/css'>
            img.wp-smiley, img.emoji { display: inline !important; border: none !important; box-shadow: none !important;
            height: 1em !important; width: 1em !important; margin: 0 .07em !important; vertical-align: -0.1em
            !important; background: none !important; padding: 0 !important; }
        </style>
        <link
            rel='stylesheet'
            id='wp-block-library-css'
            href='http://zmedia.com.vn/wp-includes/css/dist/block-library/style.min.css'
            type='text/css'
            media='all'
        />
        <link
            rel='stylesheet'
            id='wp-style-bootstrap.min-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/bootstrap.min.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-button-web-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/button-web.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-error-404-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/error-404.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-font-awesome.min-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/font-awesome.min.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-font-web-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/font-web.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-maintenant-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/maintenant.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-owl.carousel.min-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/owl.carousel.min.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-responsive-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/responsive.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-slick-theme.min-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/slick-theme.min.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-slick.min-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/slick.min.css'
            type='text/css'
            media=''
        />
        <link
            rel='stylesheet'
            id='wp-style-style.min-css'
            href='http://zmedia.com.vn/wp-content/themes/zmedia-theme/css/style.min.css'
            type='text/css'
            media=''
        />
        <script type='text/javascript' src='http://zmedia.com.vn/wp-includes/js/jquery/jquery.js'></script>
        <script type='text/javascript' src='http://zmedia.com.vn/wp-includes/js/jquery/jquery-migrate.min.js'></script>
        <link rel='canonical' href='http://zmedia.com.vn/' />
        <link rel='shortlink' href='http://zmedia.com.vn/' />
        <style type='text/css'>.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
        <style type='text/css' data-styled-components='FiaaB gTcftA caPIRE' data-styled-components-is-local='true'>
            /* sc-component-id: sc-keyframes-FiaaB */ @-webkit-keyframes
            FiaaB{100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes
            FiaaB{100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}} /*
            sc-component-id: sc-keyframes-gTcftA */ @-webkit-keyframes
            gTcftA{10%,90%{-webkit-transform:translate3d(-1px,0,0);-ms-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0);}20%,80%{-webkit-transform:translate3d(2px,0,0);-ms-transform:translate3d(2px,0,0);transform:translate3d(2px,0,0);}30%,50%,70%{-webkit-transform:translate3d(-4px,0,0);-ms-transform:translate3d(-4px,0,0);transform:translate3d(-4px,0,0);}40%,60%{-webkit-transform:translate3d(4px,0,0);-ms-transform:translate3d(4px,0,0);transform:translate3d(4px,0,0);}}@keyframes
            gTcftA{10%,90%{-webkit-transform:translate3d(-1px,0,0);-ms-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0);}20%,80%{-webkit-transform:translate3d(2px,0,0);-ms-transform:translate3d(2px,0,0);transform:translate3d(2px,0,0);}30%,50%,70%{-webkit-transform:translate3d(-4px,0,0);-ms-transform:translate3d(-4px,0,0);transform:translate3d(-4px,0,0);}40%,60%{-webkit-transform:translate3d(4px,0,0);-ms-transform:translate3d(4px,0,0);transform:translate3d(4px,0,0);}}
            /* sc-component-id: sc-keyframes-caPIRE */ @-webkit-keyframes
            caPIRE{0%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}20%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}40%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}60%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}80%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}100%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}}@keyframes
            caPIRE{0%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}20%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}40%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}60%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}80%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}100%{-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75);}}</style><style
        >@-webkit-keyframes
            swal2-show{0%{-webkit-transform:scale(.7);transform:scale(.7)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes
            swal2-show{0%{-webkit-transform:scale(.7);transform:scale(.7)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}100%{-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes
            swal2-hide{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}}@keyframes
            swal2-hide{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}}@-webkit-keyframes
            swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.875em;width:1.5625em}}@keyframes
            swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.875em;width:1.5625em}}@-webkit-keyframes
            swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@keyframes
            swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@-webkit-keyframes
            swal2-rotate-success-circular-line{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}100%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@keyframes
            swal2-rotate-success-circular-line{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}100%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@-webkit-keyframes
            swal2-animate-error-x-mark{0%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}50%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}80%{margin-top:-.375em;-webkit-transform:scale(1.15);transform:scale(1.15)}100%{margin-top:0;-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes
            swal2-animate-error-x-mark{0%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}50%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}80%{margin-top:-.375em;-webkit-transform:scale(1.15);transform:scale(1.15)}100%{margin-top:0;-webkit-transform:scale(1);transform:scale(1);opacity:1}}@-webkit-keyframes
            swal2-animate-error-icon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}@keyframes
            swal2-animate-error-icon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}body.swal2-toast-shown
            .swal2-container{background-color:transparent}body.swal2-toast-shown
            .swal2-container.swal2-shown{background-color:transparent}body.swal2-toast-shown
            .swal2-container.swal2-top{top:0;right:auto;bottom:auto;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-toast-shown
            .swal2-container.swal2-top-end,body.swal2-toast-shown
            .swal2-container.swal2-top-right{top:0;right:0;bottom:auto;left:auto}body.swal2-toast-shown
            .swal2-container.swal2-top-left,body.swal2-toast-shown
            .swal2-container.swal2-top-start{top:0;right:auto;bottom:auto;left:0}body.swal2-toast-shown
            .swal2-container.swal2-center-left,body.swal2-toast-shown
            .swal2-container.swal2-center-start{top:50%;right:auto;bottom:auto;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-toast-shown
            .swal2-container.swal2-center{top:50%;right:auto;bottom:auto;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}body.swal2-toast-shown
            .swal2-container.swal2-center-end,body.swal2-toast-shown
            .swal2-container.swal2-center-right{top:50%;right:0;bottom:auto;left:auto;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-toast-shown
            .swal2-container.swal2-bottom-left,body.swal2-toast-shown
            .swal2-container.swal2-bottom-start{top:auto;right:auto;bottom:0;left:0}body.swal2-toast-shown
            .swal2-container.swal2-bottom{top:auto;right:auto;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-toast-shown
            .swal2-container.swal2-bottom-end,body.swal2-toast-shown
            .swal2-container.swal2-bottom-right{top:auto;right:0;bottom:0;left:auto}body.swal2-toast-column
            .swal2-toast{flex-direction:column;align-items:stretch}body.swal2-toast-column .swal2-toast
            .swal2-actions{flex:1;align-self:stretch;height:2.2em;margin-top:.3125em}body.swal2-toast-column
            .swal2-toast .swal2-loading{justify-content:center}body.swal2-toast-column .swal2-toast
            .swal2-input{height:2em;margin:.3125em auto;font-size:1em}body.swal2-toast-column .swal2-toast
            .swal2-validation-message{font-size:1em}.swal2-popup.swal2-toast{flex-direction:row;align-items:center;width:auto;padding:.625em;box-shadow:0
            0 .625em #d9d9d9;overflow-y:hidden}.swal2-popup.swal2-toast
            .swal2-header{flex-direction:row}.swal2-popup.swal2-toast
            .swal2-title{flex-grow:1;justify-content:flex-start;margin:0 .6em;font-size:1em}.swal2-popup.swal2-toast
            .swal2-footer{margin:.5em 0 0;padding:.5em 0 0;font-size:.8em}.swal2-popup.swal2-toast
            .swal2-close{position:initial;width:.8em;height:.8em;line-height:.8}.swal2-popup.swal2-toast
            .swal2-content{justify-content:flex-start;font-size:1em}.swal2-popup.swal2-toast
            .swal2-icon{width:2em;min-width:2em;height:2em;margin:0}.swal2-popup.swal2-toast
            .swal2-icon-text{font-size:2em;font-weight:700;line-height:1em}.swal2-popup.swal2-toast
            .swal2-icon.swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast
            .swal2-icon.swal2-error [class^=swal2-x-mark-line]{top:.875em;width:1.375em}.swal2-popup.swal2-toast
            .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:.3125em}.swal2-popup.swal2-toast
            .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:.3125em}.swal2-popup.swal2-toast
            .swal2-actions{height:auto;margin:0 .3125em}.swal2-popup.swal2-toast .swal2-styled{margin:0
            .3125em;padding:.3125em .625em;font-size:1em}.swal2-popup.swal2-toast .swal2-styled:focus{box-shadow:0 0 0
            .0625em #fff,0 0 0 .125em rgba(50,100,150,.4)}.swal2-popup.swal2-toast
            .swal2-success{border-color:#a5dc86}.swal2-popup.swal2-toast .swal2-success
            [class^=swal2-success-circular-line]{position:absolute;width:2em;height:2.8125em;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-radius:50%}.swal2-popup.swal2-toast
            .swal2-success
            [class^=swal2-success-circular-line][class$=left]{top:-.25em;left:-.9375em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:2em
            2em;transform-origin:2em 2em;border-radius:4em 0 0 4em}.swal2-popup.swal2-toast .swal2-success
            [class^=swal2-success-circular-line][class$=right]{top:-.25em;left:.9375em;-webkit-transform-origin:0
            2em;transform-origin:0 2em;border-radius:0 4em 4em 0}.swal2-popup.swal2-toast .swal2-success
            .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-success
            .swal2-success-fix{top:0;left:.4375em;width:.4375em;height:2.6875em}.swal2-popup.swal2-toast .swal2-success
            [class^=swal2-success-line]{height:.3125em}.swal2-popup.swal2-toast .swal2-success
            [class^=swal2-success-line][class$=tip]{top:1.125em;left:.1875em;width:.75em}.swal2-popup.swal2-toast
            .swal2-success
            [class^=swal2-success-line][class$=long]{top:.9375em;right:.1875em;width:1.375em}.swal2-popup.swal2-toast.swal2-show{-webkit-animation:showSweetToast
            .5s;animation:showSweetToast .5s}.swal2-popup.swal2-toast.swal2-hide{-webkit-animation:hideSweetToast .2s
            forwards;animation:hideSweetToast .2s forwards}.swal2-popup.swal2-toast .swal2-animate-success-icon
            .swal2-success-line-tip{-webkit-animation:animate-toast-success-tip .75s;animation:animate-toast-success-tip
            .75s}.swal2-popup.swal2-toast .swal2-animate-success-icon
            .swal2-success-line-long{-webkit-animation:animate-toast-success-long
            .75s;animation:animate-toast-success-long .75s}@-webkit-keyframes
            showSweetToast{0%{-webkit-transform:translateY(-.625em) rotateZ(2deg);transform:translateY(-.625em)
            rotateZ(2deg);opacity:0}33%{-webkit-transform:translateY(0) rotateZ(-2deg);transform:translateY(0)
            rotateZ(-2deg);opacity:.5}66%{-webkit-transform:translateY(.3125em)
            rotateZ(2deg);transform:translateY(.3125em) rotateZ(2deg);opacity:.7}100%{-webkit-transform:translateY(0)
            rotateZ(0);transform:translateY(0) rotateZ(0);opacity:1}}@keyframes
            showSweetToast{0%{-webkit-transform:translateY(-.625em) rotateZ(2deg);transform:translateY(-.625em)
            rotateZ(2deg);opacity:0}33%{-webkit-transform:translateY(0) rotateZ(-2deg);transform:translateY(0)
            rotateZ(-2deg);opacity:.5}66%{-webkit-transform:translateY(.3125em)
            rotateZ(2deg);transform:translateY(.3125em) rotateZ(2deg);opacity:.7}100%{-webkit-transform:translateY(0)
            rotateZ(0);transform:translateY(0) rotateZ(0);opacity:1}}@-webkit-keyframes
            hideSweetToast{0%{opacity:1}33%{opacity:.5}100%{-webkit-transform:rotateZ(1deg);transform:rotateZ(1deg);opacity:0}}@keyframes
            hideSweetToast{0%{opacity:1}33%{opacity:.5}100%{-webkit-transform:rotateZ(1deg);transform:rotateZ(1deg);opacity:0}}@-webkit-keyframes
            animate-toast-success-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@keyframes
            animate-toast-success-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@-webkit-keyframes
            animate-toast-success-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@keyframes
            animate-toast-success-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow:hidden}body.swal2-height-auto{height:auto!important}body.swal2-no-backdrop
            .swal2-shown{top:auto;right:auto;bottom:auto;left:auto;background-color:transparent}body.swal2-no-backdrop
            .swal2-shown>.swal2-modal{box-shadow:0 0 10px rgba(0,0,0,.4)}body.swal2-no-backdrop
            .swal2-shown.swal2-top{top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-no-backdrop
            .swal2-shown.swal2-top-left,body.swal2-no-backdrop
            .swal2-shown.swal2-top-start{top:0;left:0}body.swal2-no-backdrop
            .swal2-shown.swal2-top-end,body.swal2-no-backdrop
            .swal2-shown.swal2-top-right{top:0;right:0}body.swal2-no-backdrop
            .swal2-shown.swal2-center{top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}body.swal2-no-backdrop
            .swal2-shown.swal2-center-left,body.swal2-no-backdrop
            .swal2-shown.swal2-center-start{top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-no-backdrop
            .swal2-shown.swal2-center-end,body.swal2-no-backdrop
            .swal2-shown.swal2-center-right{top:50%;right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-no-backdrop
            .swal2-shown.swal2-bottom{bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-no-backdrop
            .swal2-shown.swal2-bottom-left,body.swal2-no-backdrop
            .swal2-shown.swal2-bottom-start{bottom:0;left:0}body.swal2-no-backdrop
            .swal2-shown.swal2-bottom-end,body.swal2-no-backdrop
            .swal2-shown.swal2-bottom-right{right:0;bottom:0}.swal2-container{display:flex;position:fixed;top:0;right:0;bottom:0;left:0;flex-direction:row;align-items:center;justify-content:center;padding:10px;background-color:transparent;z-index:1060;overflow-x:hidden;-webkit-overflow-scrolling:touch}.swal2-container.swal2-top{align-items:flex-start}.swal2-container.swal2-top-left,.swal2-container.swal2-top-start{align-items:flex-start;justify-content:flex-start}.swal2-container.swal2-top-end,.swal2-container.swal2-top-right{align-items:flex-start;justify-content:flex-end}.swal2-container.swal2-center{align-items:center}.swal2-container.swal2-center-left,.swal2-container.swal2-center-start{align-items:center;justify-content:flex-start}.swal2-container.swal2-center-end,.swal2-container.swal2-center-right{align-items:center;justify-content:flex-end}.swal2-container.swal2-bottom{align-items:flex-end}.swal2-container.swal2-bottom-left,.swal2-container.swal2-bottom-start{align-items:flex-end;justify-content:flex-start}.swal2-container.swal2-bottom-end,.swal2-container.swal2-bottom-right{align-items:flex-end;justify-content:flex-end}.swal2-container.swal2-grow-fullscreen>.swal2-modal{display:flex!important;flex:1;align-self:stretch;justify-content:center}.swal2-container.swal2-grow-row>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-grow-column{flex:1;flex-direction:column}.swal2-container.swal2-grow-column.swal2-bottom,.swal2-container.swal2-grow-column.swal2-center,.swal2-container.swal2-grow-column.swal2-top{align-items:center}.swal2-container.swal2-grow-column.swal2-bottom-left,.swal2-container.swal2-grow-column.swal2-bottom-start,.swal2-container.swal2-grow-column.swal2-center-left,.swal2-container.swal2-grow-column.swal2-center-start,.swal2-container.swal2-grow-column.swal2-top-left,.swal2-container.swal2-grow-column.swal2-top-start{align-items:flex-start}.swal2-container.swal2-grow-column.swal2-bottom-end,.swal2-container.swal2-grow-column.swal2-bottom-right,.swal2-container.swal2-grow-column.swal2-center-end,.swal2-container.swal2-grow-column.swal2-center-right,.swal2-container.swal2-grow-column.swal2-top-end,.swal2-container.swal2-grow-column.swal2-top-right{align-items:flex-end}.swal2-container.swal2-grow-column>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal{margin:auto}@media
            all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-container
            .swal2-modal{margin:0!important}}.swal2-container.swal2-fade{transition:background-color
            .1s}.swal2-container.swal2-shown{background-color:rgba(0,0,0,.4)}.swal2-popup{display:none;position:relative;flex-direction:column;justify-content:center;width:32em;max-width:100%;padding:1.25em;border-radius:.3125em;background:#fff;font-family:inherit;font-size:1rem;box-sizing:border-box}.swal2-popup:focus{outline:0}.swal2-popup.swal2-loading{overflow-y:hidden}.swal2-popup
            .swal2-header{display:flex;flex-direction:column;align-items:center}.swal2-popup
            .swal2-title{display:block;position:relative;max-width:100%;margin:0 0
            .4em;padding:0;color:#595959;font-size:1.875em;font-weight:600;text-align:center;text-transform:none;word-wrap:break-word}.swal2-popup
            .swal2-actions{flex-wrap:wrap;align-items:center;justify-content:center;margin:1.25em auto
            0;z-index:1}.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled[disabled]{opacity:.4}.swal2-popup
            .swal2-actions:not(.swal2-loading)
            .swal2-styled:hover{background-image:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1))}.swal2-popup
            .swal2-actions:not(.swal2-loading)
            .swal2-styled:active{background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2))}.swal2-popup
            .swal2-actions.swal2-loading
            .swal2-styled.swal2-confirm{width:2.5em;height:2.5em;margin:.46875em;padding:0;border:.25em solid
            transparent;border-radius:100%;border-color:transparent;background-color:transparent!important;color:transparent;cursor:default;box-sizing:border-box;-webkit-animation:swal2-rotate-loading
            1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite
            normal;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-popup
            .swal2-actions.swal2-loading .swal2-styled.swal2-cancel{margin-right:30px;margin-left:30px}.swal2-popup
            .swal2-actions.swal2-loading
            :not(.swal2-styled).swal2-confirm::after{display:inline-block;width:15px;height:15px;margin-left:5px;border:3px
            solid #999;border-radius:50%;border-right-color:transparent;box-shadow:1px 1px 1px
            #fff;content:'';-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite
            normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal}.swal2-popup
            .swal2-styled{margin:.3125em;padding:.625em 2em;font-weight:500;box-shadow:none}.swal2-popup
            .swal2-styled:not([disabled]){cursor:pointer}.swal2-popup
            .swal2-styled.swal2-confirm{border:0;border-radius:.25em;background:initial;background-color:#3085d6;color:#fff;font-size:1.0625em}.swal2-popup
            .swal2-styled.swal2-cancel{border:0;border-radius:.25em;background:initial;background-color:#aaa;color:#fff;font-size:1.0625em}.swal2-popup
            .swal2-styled:focus{outline:0;box-shadow:0 0 0 2px #fff,0 0 0 4px rgba(50,100,150,.4)}.swal2-popup
            .swal2-styled::-moz-focus-inner{border:0}.swal2-popup .swal2-footer{justify-content:center;margin:1.25em 0
            0;padding:1em 0 0;border-top:1px solid #eee;color:#545454;font-size:1em}.swal2-popup
            .swal2-image{max-width:100%;margin:1.25em auto}.swal2-popup
            .swal2-close{position:absolute;top:0;right:0;justify-content:center;width:1.2em;height:1.2em;padding:0;transition:color
            .1s ease-out;border:none;border-radius:0;outline:initial;background:0
            0;color:#ccc;font-family:serif;font-size:2.5em;line-height:1.2;cursor:pointer;overflow:hidden}.swal2-popup
            .swal2-close:hover{-webkit-transform:none;transform:none;color:#f27474}.swal2-popup>.swal2-checkbox,.swal2-popup>.swal2-file,.swal2-popup>.swal2-input,.swal2-popup>.swal2-radio,.swal2-popup>.swal2-select,.swal2-popup>.swal2-textarea{display:none}.swal2-popup
            .swal2-content{justify-content:center;margin:0;padding:0;color:#545454;font-size:1.125em;font-weight:300;line-height:normal;z-index:1;word-wrap:break-word}.swal2-popup
            #swal2-content{text-align:center}.swal2-popup .swal2-checkbox,.swal2-popup .swal2-file,.swal2-popup
            .swal2-input,.swal2-popup .swal2-radio,.swal2-popup .swal2-select,.swal2-popup .swal2-textarea{margin:1em
            auto}.swal2-popup .swal2-file,.swal2-popup .swal2-input,.swal2-popup
            .swal2-textarea{width:100%;transition:border-color .3s,box-shadow .3s;border:1px solid
            #d9d9d9;border-radius:.1875em;font-size:1.125em;box-shadow:inset 0 1px 1px
            rgba(0,0,0,.06);box-sizing:border-box}.swal2-popup .swal2-file.swal2-inputerror,.swal2-popup
            .swal2-input.swal2-inputerror,.swal2-popup
            .swal2-textarea.swal2-inputerror{border-color:#f27474!important;box-shadow:0 0 2px
            #f27474!important}.swal2-popup .swal2-file:focus,.swal2-popup .swal2-input:focus,.swal2-popup
            .swal2-textarea:focus{border:1px solid #b4dbed;outline:0;box-shadow:0 0 3px #c4e6f5}.swal2-popup
            .swal2-file::-webkit-input-placeholder,.swal2-popup .swal2-input::-webkit-input-placeholder,.swal2-popup
            .swal2-textarea::-webkit-input-placeholder{color:#ccc}.swal2-popup
            .swal2-file:-ms-input-placeholder,.swal2-popup .swal2-input:-ms-input-placeholder,.swal2-popup
            .swal2-textarea:-ms-input-placeholder{color:#ccc}.swal2-popup
            .swal2-file::-ms-input-placeholder,.swal2-popup .swal2-input::-ms-input-placeholder,.swal2-popup
            .swal2-textarea::-ms-input-placeholder{color:#ccc}.swal2-popup .swal2-file::placeholder,.swal2-popup
            .swal2-input::placeholder,.swal2-popup .swal2-textarea::placeholder{color:#ccc}.swal2-popup .swal2-range
            input{width:80%}.swal2-popup .swal2-range output{width:20%;font-weight:600;text-align:center}.swal2-popup
            .swal2-range input,.swal2-popup .swal2-range output{height:2.625em;margin:1em
            auto;padding:0;font-size:1.125em;line-height:2.625em}.swal2-popup .swal2-input{height:2.625em;padding:0
            .75em}.swal2-popup .swal2-input[type=number]{max-width:10em}.swal2-popup
            .swal2-file{font-size:1.125em}.swal2-popup .swal2-textarea{height:6.75em;padding:.75em}.swal2-popup
            .swal2-select{min-width:50%;max-width:100%;padding:.375em
            .625em;color:#545454;font-size:1.125em}.swal2-popup .swal2-checkbox,.swal2-popup
            .swal2-radio{align-items:center;justify-content:center}.swal2-popup .swal2-checkbox label,.swal2-popup
            .swal2-radio label{margin:0 .6em;font-size:1.125em}.swal2-popup .swal2-checkbox input,.swal2-popup
            .swal2-radio input{margin:0 .4em}.swal2-popup
            .swal2-validation-message{display:none;align-items:center;justify-content:center;padding:.625em;background:#f0f0f0;color:#666;font-size:1em;font-weight:300;overflow:hidden}.swal2-popup
            .swal2-validation-message::before{display:inline-block;width:1.5em;min-width:1.5em;height:1.5em;margin:0
            .625em;border-radius:50%;background-color:#f27474;color:#fff;font-weight:600;line-height:1.5em;text-align:center;content:'!';zoom:normal}@supports
            (-ms-accelerator:true){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@media all
            and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-range input{width:100%!important}.swal2-range
            output{display:none}}@-moz-document url-prefix(){.swal2-close:focus{outline:2px solid
            rgba(50,100,150,.4)}}.swal2-icon{position:relative;justify-content:center;width:5em;height:5em;margin:1.25em
            auto 1.875em;border:.25em solid
            transparent;border-radius:50%;line-height:5em;cursor:default;box-sizing:content-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;zoom:normal}.swal2-icon-text{font-size:3.75em}.swal2-icon.swal2-error{border-color:#f27474}.swal2-icon.swal2-error
            .swal2-x-mark{position:relative;flex-grow:1}.swal2-icon.swal2-error
            [class^=swal2-x-mark-line]{display:block;position:absolute;top:2.3125em;width:2.9375em;height:.3125em;border-radius:.125em;background-color:#f27474}.swal2-icon.swal2-error
            [class^=swal2-x-mark-line][class$=left]{left:1.0625em;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal2-icon.swal2-error
            [class^=swal2-x-mark-line][class$=right]{right:1em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal2-icon.swal2-warning{border-color:#facea8;color:#f8bb86}.swal2-icon.swal2-info{border-color:#9de0f6;color:#3fc3ee}.swal2-icon.swal2-question{border-color:#c9dae1;color:#87adbd}.swal2-icon.swal2-success{border-color:#a5dc86}.swal2-icon.swal2-success
            [class^=swal2-success-circular-line]{position:absolute;width:3.75em;height:7.5em;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-radius:50%}.swal2-icon.swal2-success
            [class^=swal2-success-circular-line][class$=left]{top:-.4375em;left:-2.0635em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:3.75em
            3.75em;transform-origin:3.75em 3.75em;border-radius:7.5em 0 0 7.5em}.swal2-icon.swal2-success
            [class^=swal2-success-circular-line][class$=right]{top:-.6875em;left:1.875em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0
            3.75em;transform-origin:0 3.75em;border-radius:0 7.5em 7.5em 0}.swal2-icon.swal2-success
            .swal2-success-ring{position:absolute;top:-.25em;left:-.25em;width:100%;height:100%;border:.25em solid
            rgba(165,220,134,.3);border-radius:50%;z-index:2;box-sizing:content-box}.swal2-icon.swal2-success
            .swal2-success-fix{position:absolute;top:.5em;left:1.625em;width:.4375em;height:5.625em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);z-index:1}.swal2-icon.swal2-success
            [class^=swal2-success-line]{display:block;position:absolute;height:.3125em;border-radius:.125em;background-color:#a5dc86;z-index:2}.swal2-icon.swal2-success
            [class^=swal2-success-line][class$=tip]{top:2.875em;left:.875em;width:1.5625em;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal2-icon.swal2-success
            [class^=swal2-success-line][class$=long]{top:2.375em;right:.5em;width:2.9375em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal2-progresssteps{align-items:center;margin:0
            0 1.25em;padding:0;font-weight:600}.swal2-progresssteps
            li{display:inline-block;position:relative}.swal2-progresssteps
            .swal2-progresscircle{width:2em;height:2em;border-radius:2em;background:#3085d6;color:#fff;line-height:2em;text-align:center;z-index:20}.swal2-progresssteps
            .swal2-progresscircle:first-child{margin-left:0}.swal2-progresssteps
            .swal2-progresscircle:last-child{margin-right:0}.swal2-progresssteps
            .swal2-progresscircle.swal2-activeprogressstep{background:#3085d6}.swal2-progresssteps
            .swal2-progresscircle.swal2-activeprogressstep~.swal2-progresscircle{background:#add8e6}.swal2-progresssteps
            .swal2-progresscircle.swal2-activeprogressstep~.swal2-progressline{background:#add8e6}.swal2-progresssteps
            .swal2-progressline{width:2.5em;height:.4em;margin:0
            -1px;background:#3085d6;z-index:10}[class^=swal2]{-webkit-tap-highlight-color:transparent}.swal2-show{-webkit-animation:swal2-show
            .3s;animation:swal2-show
            .3s}.swal2-show.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-hide{-webkit-animation:swal2-hide
            .15s forwards;animation:swal2-hide .15s
            forwards}.swal2-hide.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-rtl
            .swal2-close{right:auto;left:0}.swal2-animate-success-icon
            .swal2-success-line-tip{-webkit-animation:swal2-animate-success-line-tip
            .75s;animation:swal2-animate-success-line-tip .75s}.swal2-animate-success-icon
            .swal2-success-line-long{-webkit-animation:swal2-animate-success-line-long
            .75s;animation:swal2-animate-success-line-long .75s}.swal2-animate-success-icon
            .swal2-success-circular-line-right{-webkit-animation:swal2-rotate-success-circular-line 4.25s
            ease-in;animation:swal2-rotate-success-circular-line 4.25s
            ease-in}.swal2-animate-error-icon{-webkit-animation:swal2-animate-error-icon
            .5s;animation:swal2-animate-error-icon .5s}.swal2-animate-error-icon
            .swal2-x-mark{-webkit-animation:swal2-animate-error-x-mark .5s;animation:swal2-animate-error-x-mark
            .5s}@-webkit-keyframes
            swal2-rotate-loading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes
            swal2-rotate-loading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@media
            print{body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow-y:scroll!important}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)>[aria-hidden=true]{display:none}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)
            .swal2-container{position:initial!important}}</style><style>
            .ejoy-sub-active{ color: #1296ba !important; } .ejoy-sub-hovered{ color: #1296ba !important; }
            .ejoy-sub-clzz{ cursor: pointer; lineHeight: 1.2; font-size: 28px; color: #FFCC00; background: rgba(17, 17,
            17, 0.7); } .ejoy-sub-clzz:hover{ color: #1296ba !important; } .ej-trans-sub{ position: absolute; width:
            100%; display: flex; justify-content: center; align-items: center; z-index: 9999999; cursor: move; }
            .ej-trans-sub > span{ color: #3CF9ED; font-size: 18px; text-align: center; padding: 0 16px; line-height:
            1.5; background: rgba(32, 26, 25, 0.8); // text-shadow: 0px 1px 4px black; padding: 0 8px; lineHeight: 1.2;
            font-size: 16px; color: #0CB1C7; background: rgba(67, 65, 65, 0.7); } .ej-main-sub{ position: absolute;
            width: 100%; display: flex; justify-content: center; align-items: center; z-index: 99999999; cursor: move;
            padding: 0 8px; } .ej-main-sub > span{ color: white; font-size: 20px; line-height: 1.5; text-align: center;
            background: rgba(32, 26, 25, 0.8); // text-shadow: 0px 1px 4px black; padding: 2px 8px; lineHeight: 1.2;
            font-size: 28px; color: #FFCC00; background: rgba(17, 17, 17, 0.7); } .ej-main-sub .ejoy-sub-clzz{
            background: transparent !important } .tran-subtitle > span{ cursor: pointer; padding-left: 10px; top: 2px;
            position: relative; } .tran-subtitle > span > span{ position: absolute; top: -170%; background:
            rgba(0,0,0,0.5); font-size: 13px; line-height: 20px; padding: 2px 8px; color: white; display: none;
            border-radius: 4px; white-space: nowrap; left: -50%; font-weight: normal; } .view-icon-copy-main-sub:hover >
            span, .view-icon-edit-sub:hover > span, .view-icon-copy-tran-sub:hover > span { display: block; }
            .tran-subtitle > span > svg{ width: 16px; height: 16px; pointer-events: none; display: inline-flex
            !important; vertical-align: baseline !important; } .view-icon-copy-main-sub > svg{ pointer-events: none;
            color: #FFCC00 } .view-icon-copy-tran-sub{ padding-left: 0 !important; padding-right: 8px !important; }
            .view-icon-copy-tran-sub > svg{ pointer-events: none; color: #0CB1C7 }

        </style></head>

    <body
        class='home page-template page-template-tpl-maintenant page-template-tpl-maintenant-php page page-id-247'
        data-new-gr-c-s-check-loaded='14.1086.0'
        data-gr-ext-installed=''
        cz-shortcut-listen='true'
    ><section id='maintenant'>
            <div id='level'>
                <div id='content'>
                    <style>
                        #content::before{ background-image:
                        url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/logo-e.svg); }
                    </style>
                    <div id='gears'>
                        <div
                            id='gears-static'
                            style='background:url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat -363px -903px;'
                        ></div>
                        <div id='gear-system-1'>
                            <div class='shadow' id='shadow15'></div>
                            <div
                                id='gear15'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -993px;'
                            ></div>
                            <div class='shadow' id='shadow14'></div>
                            <div
                                id='gear14'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -856px;'
                            ></div>
                            <div class='shadow' id='shadow13'></div>
                            <div
                                id='gear13'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -744px;'
                            ></div>
                        </div>
                        <div id='gear-system-2'>
                            <div class='shadow' id='shadow10'></div>
                            <div
                                id='gear10'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -184px;'
                            ></div>
                            <div class='shadow' id='shadow3'></div>
                            <div
                                id='gear3'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -1493px;'
                            ></div>
                        </div>
                        <div id='gear-system-3'>
                            <div class='shadow' id='shadow9'></div>
                            <div
                                id='gear9'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat -371px -280px;'
                            ></div>
                            <div class='shadow' id='shadow7'></div>
                            <div
                                id='gear7'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat -371px 0;'
                            ></div>
                        </div>
                        <div id='gear-system-4'>
                            <div class='shadow' id='shadow6'></div>
                            <div
                                id='gear6'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -1931px;'
                            ></div>
                            <div
                                id='gear4'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -1627px;'
                            ></div>
                        </div>
                        <div id='gear-system-5'>
                            <div class='shadow' id='shadow12'></div>
                            <div
                                id='gear12'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -530px;'
                            ></div>
                            <div class='shadow' id='shadow11'></div>
                            <div
                                id='gear11'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -356px;'
                            ></div>
                            <div class='shadow' id='shadow8'></div>
                            <div
                                id='gear8'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat -371px -158px;'
                            ></div>
                        </div>
                        <div class='shadow' id='shadow1'></div>
                        <div
                            id='gear1'
                            style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 0;'
                        ></div>
                        <div id='gear-system-6'>
                            <div class='shadow' id='shadow5'></div>
                            <div
                                id='gear5'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -1746px;'
                            ></div>
                            <div
                                id='gear2'
                                style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat 0 -1364px;'
                            ></div>
                        </div>
                        <div class='shadow' id='shadowweight'></div>
                        <div
                            id='chain-circle'
                            style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat -371px -706px;'
                        ></div>
                        <div id='chain'></div>
                        <div
                            id='weight'
                            style='background: url(http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/gears.png) no-repeat -371px -564px;'
                        ></div>
                    </div>
                    <div id='title'>
                        <div class='company_detail'>
                            <h3 class='login-name'>NT ECommerce</h3>
                            <p>
                                Website đang được nâng cấp, mọi chi tiết vui lòng liên hệ hotline
                                <br />
                                <a href=''>08 9999 4920 - 086 777 0997</a>
                            </p>
                            <div class='footer text-center xs-hidden'>
                                <hr />
                                <ul>
                                    <li>
                                        <a href='/lien-he/' target='_blank'>
                                            Liên hệ
                                        </a>
                                    </li>
                                    <li>
                                        <a href='/gioi-thieu/' target='_blank'>
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li>
                                        <a href='/tai-lieu-huong-dan/' target='_blank'>
                                            Hỗ Trợ &amp; Hướng Dẫn
                                        </a>
                                    </li>
                                </ul>
                                <hr />
                            </div>
                            <div class='copyright-tmr-col-right text-right copyright-tmr-right xs-hidden'>
                                <ul class='social_link list-unstyled'>
                                    {{! <li>
                                        <a href='/' title='ThemeMakker'>
                                            <svg
                                                class='svg-inline--fa fa-chrome fa-w-16'
                                                aria-hidden='true'
                                                data-prefix='fab'
                                                data-icon='chrome'
                                                role='img'
                                                xmlns='http://www.w3.org/2000/svg'
                                                viewBox='0 0 496 512'
                                                data-fa-i2svg=''
                                            >
                                                <path
                                                    fill='currentColor'
                                                    d='M131.5 217.5L55.1 100.1c47.6-59.2 119-91.8 192-92.1 42.3-.3 85.5 10.5 124.8 33.2 43.4 25.2 76.4 61.4 97.4 103L264 133.4c-58.1-3.4-113.4 29.3-132.5 84.1zm32.9 38.5c0 46.2 37.4 83.6 83.6 83.6s83.6-37.4 83.6-83.6-37.4-83.6-83.6-83.6-83.6 37.3-83.6 83.6zm314.9-89.2L339.6 174c37.9 44.3 38.5 108.2 6.6 157.2L234.1 503.6c46.5 2.5 94.4-7.7 137.8-32.9 107.4-62 150.9-192 107.4-303.9zM133.7 303.6L40.4 120.1C14.9 159.1 0 205.9 0 256c0 124 90.8 226.7 209.5 244.9l63.7-124.8c-57.6 10.8-113.2-20.8-139.5-72.5z'
                                                ></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='https://www.facebook.com/epalsolution' title='Facebook'>
                                            <svg
                                                class='svg-inline--fa fa-facebook-f fa-w-9'
                                                aria-hidden='true'
                                                data-prefix='fab'
                                                data-icon='facebook-f'
                                                role='img'
                                                xmlns='http://www.w3.org/2000/svg'
                                                viewBox='0 0 264 512'
                                                data-fa-i2svg=''
                                            >
                                                <path
                                                    fill='currentColor'
                                                    d='M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229'
                                                ></path>
                                            </svg>
                                        </a></li>
                                    <li>
                                        <a href='https://twitter.com/EPALSolution' title='Twitter'>
                                            <svg
                                                class='svg-inline--fa fa-twitter fa-w-16'
                                                aria-hidden='true'
                                                data-prefix='fab'
                                                data-icon='twitter'
                                                role='img'
                                                xmlns='http://www.w3.org/2000/svg'
                                                viewBox='0 0 512 512'
                                                data-fa-i2svg=''
                                            >
                                                <path
                                                    fill='currentColor'
                                                    d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'
                                                ></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='https://www.instagram.com/epal.solution/' title='Instagram'>
                                            <svg
                                                class='svg-inline--fa fa-instagram fa-w-14'
                                                aria-hidden='true'
                                                data-prefix='fab'
                                                data-icon='instagram'
                                                role='img'
                                                xmlns='http://www.w3.org/2000/svg'
                                                viewBox='0 0 448 512'
                                                data-fa-i2svg=''
                                            >
                                                <path
                                                    fill='currentColor'
                                                    d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'
                                                ></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href='https://www.youtube.com/channel/UCkUFnop2O-oUPSl41ON_tUg'
                                            title='Youtube'
                                        >
                                            <svg
                                                class='svg-inline--fa fa-youtube fa-w-18'
                                                aria-hidden='true'
                                                data-prefix='fab'
                                                data-icon='youtube'
                                                role='img'
                                                xmlns='http://www.w3.org/2000/svg'
                                                viewBox='0 0 576 512'
                                                data-fa-i2svg=''
                                            >
                                                <path
                                                    fill='currentColor'
                                                    d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'
                                                ></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href='https://www.linkedin.com/in/epal-solution-corporation/'
                                            title='Linkedin'
                                        >
                                            <svg
                                                class='svg-inline--fa fa-linkedin fa-w-14'
                                                aria-hidden='true'
                                                data-prefix='fab'
                                                data-icon='linkedin'
                                                role='img'
                                                xmlns='http://www.w3.org/2000/svg'
                                                viewBox='0 0 448 512'
                                                data-fa-i2svg=''
                                            >
                                                <path
                                                    fill='currentColor'
                                                    d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'
                                                ></path>
                                            </svg>
                                        </a>
                                    </li> }}
                                </ul>
                            </div>
                            <div class='text-center logo-epal-bottom xs-hidden'>
                                {{! <a href='https://halozendsoft.com/' target='_blank'>
                                    <img
                                        class='logo-link-img logo-halo'
                                        src='http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/Logo-Halozend.svg'
                                        alt='logo halozend'
                                    />
                                </a>
                                <a href='/' target='_blank'>
                                    <img
                                        class='logo-link-img logo-epal'
                                        src='http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/logo-epal-solution.svg'
                                        alt='logo-epal'
                                    />
                                </a>
                                <a href='http://zmedia.com.vn/' target='_blank'>
                                    <img
                                        class='logo-link-img logo-blog'
                                        src='http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/logo-zmedia.svg'
                                        alt='logo zmedia'
                                    />
                                </a>
                                <a href='http://mecloud.com.vn/' target='_blank'>
                                    <img
                                        class='logo-link-img logo-blog'
                                        src='http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/logo-mecloud.png'
                                        alt='logo mecloud'
                                    />
                                </a>
                                <a href='http://epalshop.com/' target='_blank'>
                                    <img
                                        class='logo-link-img logo-blog'
                                        src='http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/logo-epal-shop.svg'
                                        alt='logo epal shop'
                                    />
                                </a>
                                <a href='http://blog.epal.vn/' target='_blank'>
                                    <img
                                        class='logo-link-img logo-blog'
                                        src='http://zmedia.com.vn/wp-content/themes/zmedia-theme/images/logo-blog-epal.svg'
                                        alt='logo blog epal'
                                    />
                                </a> }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <style>
            body{ margin:0px; padding:0px; overflow-x:hidden; } #maintenant{ background: #333; /* Old browsers */
            height:100vh; font-size: 13px; } #level{ width:100%; height:1px; position:fixed; top:50%; left: 50%; }
            #content{ text-align:center; transform: translate(-50%, -50%); } #gears{ width:478px; height:655px;
            position:relative; display:inline-block; vertical-align:middle; } #gears-static{ width:329px; height:602px;
            position:absolute; bottom:5px; right:0px; opacity:0.4; } #title{ vertical-align:middle; color:#9EB7B5;
            width:43%; display:inline-flex; margin-left: 20px; padding: 0 20px; } #content{ position: relative; }
            #content::before { content: ''; position: absolute; background-repeat: no-repeat; opacity: 0.02; width: 50%;
            height: 90%; background-position-x: 28%; top: 5%; left: 45%; z-index: -1; } #title .company_detail { color:
            #fff; } #title .login-name { font-family: reg; font-weight: 400; font-size: 30px; opacity: 0.7;
            text-transform: uppercase; } #title .company_detail p a { color: #1abc9c; } #title .company_detail p
            a:hover{ text-decoration: underline; } #title .company_detail p { opacity: 0.7; font-family: reg;
            letter-spacing: 1px; font-weight: 300; margin-top: 15px; font-size: 16px; } #title .text-center hr {
            margin-top: 15px; margin-bottom: 20px; border: 0; border-top: 1px solid #80808066; } #title .footer {
            padding: 24px 0 0; padding-top: 0px; } #title .footer > ul { display: flex; justify-content: space-between;
            padding: 0 18%; } #title .footer > ul > li { display: inline-flex; } #title .footer ul li a { font-family:
            reg; color: inherit; padding: .5rem; font-size: .93em; text-transform: uppercase; text-decoration: none; }
            #title .footer ul li a:hover{ text-decoration: underline; } #title .copyright-tmr-col-right { width: 100%;
            display: inline-flex; margin: 0 0 30px; } #title .copyright-tmr-right > ul { display: inline-block; width:
            100%; text-align: center; } #title .list-unstyled { padding-left: 0; list-style: none; } #title
            .copyright-tmr-right > ul > li { display: inline-flex; margin: 0 15px; } #title .copyright-tmr-col-right a {
            color: #fff; } #title .copyright-tmr-col-right a svg { width: 15px; height: 15px; } #title svg:not(:root) {
            overflow: hidden; } #title .authentication .company_detail p { opacity: 0.6; letter-spacing: 1px;
            font-weight: 300; margin-top: 15px; } #title .logo-link-img { width: auto; margin-right: 0; margin-bottom:
            0; height: 100%; } #title .logo-epal-bottom{ display: flex; flex-wrap: wrap; margin: 0px 5%;
            justify-content: space-between; align-items: center; } #title .logo-epal-bottom a{ display: inline-flex;
            height: 40px; margin-bottom: 20px; } #title .logo-epal-bottom a:nth-child(1), #title .logo-epal-bottom
            a:nth-child(4){ width: 26%; } #title .logo-epal-bottom a:nth-child(3), #title .logo-epal-bottom
            a:nth-child(6){ width: 25%; } #title .logo-epal-bottom a:nth-child(2), #title .logo-epal-bottom
            a:nth-child(5){ width: 38%; } #title .logo-epal-bottom a, #title .social_link a{ opacity: 0.6; transition:
            all 0.4s; } #title .logo-epal-bottom a:hover, #title .social_link a:hover{ opacity: 1; transition: all 0.4s;
            } /*gear-system-1*/ #gear15{ width: 321px; height: 321px; position:absolute; left:45px; top:179px;
            -webkit-animation: rotate-back 24000ms linear infinite; -moz-animation: rotate-back 24000ms linear infinite;
            -ms-animation: rotate-back 24000ms linear infinite; animation: rotate-back 24000ms linear infinite; }
            #shadow15{ width:306px; height:306px; -webkit-border-radius:153px; -moz-border-radius:153px;
            border-radius:153px; position:absolute; left:52px; top:186px; } #gear14{ width: 87px; height: 87px;
            position:absolute; left:162px; top:296px; } #shadow14{ width:70px; height:70px; -webkit-border-radius:35px;
            -moz-border-radius:35px; border-radius:35px; position:absolute; left:171px; top:304px; } #gear13{ width:
            62px; height: 62px; position:absolute; left:174px; top:309px; -webkit-animation: rotate 8000ms linear
            infinite; -moz-animation: rotate 8000ms linear infinite; -ms-animation: rotate 8000ms linear infinite;
            animation: rotate 8000ms linear infinite; } #shadow13{ width:36px; height:36px; -webkit-border-radius:18px;
            -moz-border-radius:18px; border-radius:18px; position:absolute; left:187px; top:322px; } /*gear-system-2*/
            #gear10{ width: 122px; height: 122px; position:absolute; left:175px; top:0; -webkit-animation: rotate-back
            8000ms linear infinite; -moz-animation: rotate-back 8000ms linear infinite; -ms-animation: rotate-back
            8000ms linear infinite; animation: rotate-back 8000ms linear infinite; } #shadow10{ width:86px; height:86px;
            -webkit-border-radius:43px; -moz-border-radius:43px; border-radius:43px; position:absolute; left:193px;
            top:18px; } #gear3{ width: 85px; height: 84px; position:absolute; left:194px; top:19px; -webkit-animation:
            rotate 10000ms linear infinite; -moz-animation: rotate 10000ms linear infinite; -ms-animation: rotate
            10000ms linear infinite; animation: rotate 10000ms linear infinite; } #shadow3{ width:60px; height:60px;
            -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; position:absolute; left:206px;
            top:31px; } /*gear-system-3*/ #gear9{ width: 234px; height: 234px; position:absolute; left:197px; top:96px;
            -webkit-animation: rotate 12000ms linear infinite; -moz-animation: rotate 12000ms linear infinite;
            -ms-animation: rotate 12000ms linear infinite; animation: rotate 12000ms linear infinite; } #shadow9{
            width:200px; height:200px; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px;
            position:absolute; left:214px; top:113px; } #gear7{ width: 108px; height: 108px; position:absolute;
            left:260px; top:159px; -webkit-animation: rotate-back 10000ms linear infinite; -moz-animation: rotate-back
            10000ms linear infinite; -ms-animation: rotate-back 10000ms linear infinite; animation: rotate-back 10000ms
            linear infinite; } #shadow7{ width:76px; height:76px; -webkit-border-radius:38px; -moz-border-radius: 38px;
            border-radius: 38px; position:absolute; left:276px; top:175px; } /*gear-system-4*/ #gear6{ width: 134px;
            height: 134px; position:absolute; left:305px; bottom:212px; -webkit-animation: rotate-back 10000ms linear
            infinite; -moz-animation: rotate-back 10000ms linear infinite; -ms-animation: rotate-back 10000ms linear
            infinite; animation: rotate-back 10000ms linear infinite; } #shadow6{ width:98px; height:98px;
            -webkit-border-radius:49px; -moz-border-radius: 49px; border-radius: 49px; position:absolute; left:323px;
            bottom:230px; } #gear4{ width: 69px; height: 69px; position:absolute; left:337px; bottom:245px;
            -webkit-animation: rotate-back 10000ms linear infinite; -moz-animation: rotate-back 10000ms linear infinite;
            -ms-animation: rotate-back 10000ms linear infinite; animation: rotate-back 10000ms linear infinite; }
            /*gear-system-5*/ #gear12{ width: 164px; height: 164px; position:absolute; left:208px; bottom:85px;
            -webkit-animation: rotate 8000ms linear infinite; -moz-animation: rotate 8000ms linear infinite;
            -ms-animation: rotate 8000ms linear infinite; animation: rotate 8000ms linear infinite; } #shadow12{
            width:124px; height:124px; -webkit-border-radius:62px; -moz-border-radius:62px; border-radius:62px;
            position:absolute; left:225px; bottom:107px; } #gear11{ width: 125px; height: 124px; position:absolute;
            left:228px; bottom:105px; -webkit-animation: rotate-back 10000ms linear infinite; -moz-animation:
            rotate-back 10000ms linear infinite; -ms-animation: rotate-back 10000ms linear infinite; animation:
            rotate-back 10000ms linear infinite; } #shadow11{ width:88px; height:88px; -webkit-border-radius:44px;
            -moz-border-radius:44px; border-radius:44px; position:absolute; left:247px; bottom:123px; } #gear8{ width:
            72px; height: 72px; position:absolute; left:254px; bottom:131px; -webkit-animation: rotate 6000ms linear
            infinite; -moz-animation: rotate 6000ms linear infinite; -ms-animation: rotate 6000ms linear infinite;
            animation: rotate 6000ms linear infinite; } #shadow8{ width:42px; height:42px; -webkit-border-radius:21px;
            -moz-border-radius: 21px; border-radius: 21px; position:absolute; left:269px; bottom:146px; } /*gear1*/
            #gear1{ width: 135px; height: 134px; position:absolute; left:83px; bottom:111px; -webkit-animation:
            rotate-back 10000ms linear infinite; -moz-animation: rotate-back 10000ms linear infinite; -ms-animation:
            rotate-back 10000ms linear infinite; animation: rotate-back 10000ms linear infinite; } #shadow1{ width:96px;
            height:96px; -webkit-border-radius:48px; -moz-border-radius:48px; border-radius:48px; position:absolute;
            left:103px; bottom:130px; } /*gear-system-6*/ #gear5{ width: 134px; height: 135px; position:absolute;
            left:22px; top:108px; -webkit-animation: rotate 10000ms linear infinite alternate; -moz-animation: rotate
            10000ms linear infinite alternate; -ms-animation: rotate 10000ms linear infinite alternate; animation:
            rotate 10000ms linear infinite alternate; } #shadow5{ width:96px; height:96px; -webkit-border-radius:48px;
            -moz-border-radius:48px; border-radius:48px; position:absolute; left:41px; top:127px; } #gear2{ width: 80px;
            height: 79px; position:absolute; left:49px; top:136px; -webkit-animation: rotate-back 10000ms linear
            infinite alternate; -moz-animation: rotate-back 10000ms linear infinite alternate; -ms-animation:
            rotate-back 10000ms linear infinite alternate; animation: rotate-back 10000ms linear infinite alternate; }
            /*weight*/ #weight{ width: 34px; height: 92px; position:absolute; left:1px; bottom:0; -webkit-animation: up
            10000ms linear infinite alternate; -moz-animation: up 10000ms linear infinite alternate; -ms-animation: up
            10000ms linear infinite alternate; animation: up 10000ms linear infinite alternate; } #shadowweight{
            width:10px; height:80px; position:absolute; left:12px; bottom:0px; -webkit-animation: up 10000ms linear
            infinite alternate; -moz-animation: up 10000ms linear infinite alternate; -ms-animation: up 10000ms linear
            infinite alternate; animation: up 10000ms linear infinite alternate; } /*chain*/ #chain-circle{ width:146px;
            height:147px; position:absolute; left:17px; top:102px; -webkit-animation: rotate 10000ms linear infinite
            alternate; -moz-animation: rotate 10000ms linear infinite alternate; -ms-animation: rotate 10000ms linear
            infinite alternate; animation: rotate 10000ms linear infinite alternate; } #chain{ width:1px; height:380px;
            border-left:2px dotted #C8D94A; position:absolute; left:17px; top:175px; opacity:0.7; -webkit-animation:
            collapse 10000ms linear infinite alternate; -moz-animation: collapse 10000ms linear infinite alternate;
            -ms-animation: collapse 10000ms linear infinite alternate; animation: collapse 10000ms linear infinite
            alternate; } /*ANIMATIONS*/ /*rotate*/ @keyframes rotate { from { -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform:
            rotate(0deg); } to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform:
            rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } } /*rotate-back*/ @keyframes
            rotate-back { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform:
            rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); } to { -webkit-transform:
            rotate(-360deg); -moz-transform: rotate(-360deg); -o-transform: rotate(-360deg); -ms-transform:
            rotate(-360deg); transform: rotate(-360deg); } } /*weight up*/ @keyframes up { from { bottom: 0px; } to {
            bottom: 340px; } } /*chain up and down*/ @keyframes collapse { from { height: 387px; } to { height: 48px; }
            } @font-face { font-family: reg; src: url("../fonts/font-main/Roboto-Regular.ttf"); } @media (max-width:
            1200px) { #title .footer > ul { padding: 0px 10%; } } @media (max-width: 992px) { a:hover{ text-decoration:
            none !important; opacity: unset !important; } #gears { display: none; } #title { width: 60%; margin-left: 0;
            margin-top: 10%; } #title .footer > ul { padding: 0 10%; } #content::before { left: 10%; } } @media
            (max-width: 767px){ #title { width: 100%; padding: 0 15px; } #title .footer > ul { padding: 0 5%; }
            #content::before { width: 93%; top: 5%; left: 15px; } }
        </style>
    </body>
</html>