<section class='section project-section'>
    <div class='container'>
        <h1 class='text-left heading-section w-75'>
            Các dự án dẫn đầu và truyền cảm hứng cho ngành của họ
        </h1>
    </div>
</section>

<section class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 p-2'>
                <figure class='image-box-img'>
                    <a href='https://www.saokim.com.vn/du-an/dam-ca-mau/'>
                        <img width='801' height='854'
                            src='https://www.saokim.com.vn/storage/2022/03/Du-an-thiet-ke-thuong-hieu-Dam-Ca-Mau-sao-kim-branding.jpg'
                            class='' alt='Dự án thiết kế thương hiệu Đạm Cà Mau - Sao Kim Branding'
                            title='Ảnh bài viết Dự án' />
                        </noscript>
                    </a>
                </figure>
                <div class=''>
                    <h3 class='mt-2'>
                        <a href='https://www.saokim.com.vn/du-an/dam-ca-mau/'>ĐẠM CÀ MAU</a>
                    </h3>
                    <p class=''>BRAND IDENTITY, PACKAGING</p>
                </div>
            </div>
            <div class='col-md-6 p-2'>
                <figure class='image-box-img'>
                    <a href='https://www.saokim.com.vn/du-an/delta-group/'>
                        <img width='800' height='864'
                            src='https://www.saokim.com.vn/storage/2022/01/du-an-nhan-dien-thuong-hieu-delta-group.jpg'
                            class='' alt='Dự án Nhận diện thương hiệu DELTA GROUP' title='Ảnh bài viết Dự án' />
                        </noscript>
                    </a>
                </figure>
                <div class=''>
                    <h3 class='mt-2'>
                        <a href='https://www.saokim.com.vn/du-an/delta-group/'>DELTA GROUP</a>
                    </h3>
                    <p class=''>BRAND IDENTITY</p>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <figure class="image-box-img"><a href="https://www.saokim.com.vn/du-an/tng-holdings/"><img width="1529"
                        height="802"
                        src="https://www.saokim.com.vn/storage/2022/03/du-an-thiet-ke-mascot-linh-vat-thuong-hieu-cho-tng-holding-sao-kim-branding-1.png"
                        class=""
                        alt="Dự án thiết kế Mascot (linh vật thương hiệu) cho TNG Holdings - Sao Kim Branding (1)"
                        title="Ảnh bài viết Dự án"></noscript></a></figure>
            <div class="">
                <h3 class="mt-2"><a href="https://www.saokim.com.vn/du-an/tng-holdings/">TNG
                        HOLDINGS
                        GROUP</a></h3>
                <p class="mb-5">MASCOT DESIGN</p>
            </div>
        </div>

        <div class="my-5">
            <div class='row mb-3 justify-content-between'>
                {{#each projectTypeList}}
                {{> project-type}}
                {{/each}}
            </div>

            <div class='row justify-content-between flex-wrap'>
                {{#each albumList}}
                <div class='col-lg-4 col-md-6'>
                    {{> significant-project image=this.image title=this.title subtitle=this.subtitle}}
                </div>
                {{/each}}
            </div>
        </div>

        <section class='section'>
            {{! form section }}
            {{> contact}}
            {{! End of form section }}
        </section>

        <div class="d-flex flex-row">
            <h5 class="w-75">Đăng kí nhận nội dung mới nhất từ NT-Ecommerce</h5>

            <div class='p-4 rounded col-md-6 ms-md-4 ms-lg-0'
                style='background-color: var(--primary-dark);'>
                <div class='row'>
                    <div class=''>
                        <p class="text-white h5">Tên</p>
                        <div class='mb-3'>
                            <input type='text' class='form-control form__input' style='background-color: var(--primary-light);
                    color: var(--primary-dark);' />
                        </div>
                        <p class="text-white h5">Email</p>
                        <div class='mb-3'>
                            <input type='email' class='form-control form__input' style='background-color: var(--primary-light);
                    color: var(--primary-dark);' />
                        </div>

                        <div class='field'>
                            <div class='field-submit mt-2'>
                                <input type='submit' value='Đăng kí nhận thông tin' class=' my-2 form__btn' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>