<section class='section project-section'>
    <div class='container heading'>
        <h1 class='text-left heading-section'>
            Các dự án dẫn đầu và truyền cảm hứng cho ngành của họ
        </h1>

    </div>
</section>

<section class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 p-1'>
                <div class='widget-wrap element-populated'>
                    <div class='element element-a9a0073 position-top vertical-align-top widget widget-image-box'>
                        <div class='image-box-wrapper'>
                            <figure class='image-box-img'>
                                <a href='https://www.saokim.com.vn/du-an/dam-ca-mau/'>
                                    <img
                                        width='801'
                                        height='854'
                                        src='https://www.saokim.com.vn/storage/2022/03/Du-an-thiet-ke-thuong-hieu-Dam-Ca-Mau-sao-kim-branding.jpg'
                                        class='attachment-full size-full entered lazyloaded'
                                        alt='Dự án thiết kế thương hiệu Đạm Cà Mau - Sao Kim Branding'
                                        title='Ảnh bài viết Dự án'
                                    />
                                    <noscript>
                                        <img
                                            width='801'
                                            height='854'
                                            src='https://www.saokim.com.vn/storage/2022/03/Du-an-thiet-ke-thuong-hieu-Dam-Ca-Mau-sao-kim-branding.jpg'
                                            class='attachment-full size-full'
                                            alt='Dự án thiết kế thương hiệu Đạm Cà Mau - Sao Kim Branding'
                                            title='Ảnh bài viết Dự án'
                                        />
                                    </noscript>
                                </a>
                            </figure>
                            <div class='image-box-content'>
                                <h3 class='image-box-title'>
                                    <a href='https://www.saokim.com.vn/du-an/dam-ca-mau/'>ĐẠM CÀ MAU</a>
                                </h3>
                                <p class='image-box-description'>BRAND IDENTITY, PACKAGING</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-6 p-1'>
                <div class='widget-wrap element-populated'>
                    <div class='element element-b99d972 position-top vertical-align-top widget widget-image-box'>
                        <div class='image-box-wrapper'>
                            <figure class='image-box-img'>
                                <a href='https://www.saokim.com.vn/du-an/delta-group/'>
                                    <img
                                        width='800'
                                        height='864'
                                        src='https://www.saokim.com.vn/storage/2022/01/du-an-nhan-dien-thuong-hieu-delta-group.jpg'
                                        class='attachment-full size-full entered lazyloaded'
                                        alt='Dự án Nhận diện thương hiệu DELTA GROUP'
                                        title='Ảnh bài viết Dự án'
                                    />
                                    <noscript>
                                        <img
                                            width='800'
                                            height='864'
                                            src='https://www.saokim.com.vn/storage/2022/01/du-an-nhan-dien-thuong-hieu-delta-group.jpg'
                                            class='attachment-full size-full'
                                            alt='Dự án Nhận diện thương hiệu DELTA GROUP'
                                            title='Ảnh bài viết Dự án'
                                        />
                                    </noscript>
                                </a>
                            </figure>
                            <div class='image-box-content'>
                                <h3 class='image-box-title'>
                                    <a href='https://www.saokim.com.vn/du-an/delta-group/'>DELTA GROUP</a>
                                </h3>
                                <p class='image-box-description'>BRAND IDENTITY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>